.dark-mode {
    background-color: #545454;
}

.dark-mode .container-item {
    background-color: #34495e;
}

.dark-mode .main {
    background-color: #545454;
}

.dark-mode .transfer-info {
    background-color: #4974a5;
    color: #fffff0;
}

.dark-mode .transfertime-value {
    color: #fffff0;
}

.dark-mode .select-btn {
    background-color: #ffef00;
}

.dark-mode .play-btn {
    background-color: #ffef00;
}

.dark-mode .play-btn:active {
    background-color: #9141ac;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar {
    top: 0;
    width: 100%;
    height: 7%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.main {
    grid-template-rows: calc(100vh - 7%) 1fr auto;
    gap: 20px;
    width: 100%;
}
.container-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.nav-button {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}
@media (min-width: 768px) {
    .nav-button {
        padding: 19px 32px;
    }
}
.nav-button:before,
.nav-button:after {
    border-radius: 80px;
}
.nav-button:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.nav-button:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}
.nav-button:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}

.nav-button:active:not(:disabled) {
    color: #ccc;
}

.nav-button:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.nav-button:disabled {
    cursor: default;
    opacity: .24;
}

.select-btn {
    width: 100px;
    height: 100px;
    border: 1px solid #444444;
    padding: 3px;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    background-color: #007AFFFF;
    transition: background-color 0.5s; /* Add a transition with a 0.3s duration */
}
.select-btn:active {
    background-color: #ed333b; /* Change the background color when pressed */
    transition: background-color 0s; /* Override the transition for the pressed state */
}

.play-btn {
    width: 100px;
    height: 100px;
    border: 1px solid #444444;
    padding: 3px;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    background-color: #9141ac;
    transition: background-color 0.7s; /* Add a transition with a 0.3s duration */
}
.play-btn:active {
    background-color: #FFCC00FF; /* Change the background color when pressed */
    transition: background-color 0s; /* Override the transition for the pressed state */
}