/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Create the grid container */
.grid-container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 20px; /* Adjust the gap between grid items */
    height: 100vh; /* 100% of the viewport height */
    width: 100%; /* 100% of the viewport width */
}
.timer-grid {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #f0f0f0; /* Background color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center content */
}
.info-grid {
    background-color: #f0f0f0; /* Background color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center content */
}
.buttons-grid {
    background-color: #f0f0f0; /* Background color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center content */
}

/* Define a CSS class for the timer */
.timer {
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

/* Style the numbers (minutes and seconds) within the timer */
.timer .minutes,
.timer .seconds {
    color: #fff; /* Text color */
    background-color: #333; /* Background color */
    padding: 5px 10px; /* Padding around the numbers */
    border-radius: 5px; /* Rounded corners */
    margin: 0 5px; /* Margin between numbers */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow */
}

.transfer-info {
    display: none;
    background-color: #d6eaf8;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.select-btn {
    width: 100px;
    height: 100px;
    border: 1px solid #444444;
    padding: 3px;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    background-color: #62a0ea;
    transition: background-color 0.5s; /* Add a transition with a 0.3s duration */
}
.select-btn:active {
    background-color: #ed333b; /* Change the background color when pressed */
    transition: background-color 0s; /* Override the transition for the pressed state */
}

.play-btn {
    width: 100px;
    height: 100px;
    border: 1px solid #444444;
    padding: 3px;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    background-color: #9141ac;
    transition: background-color 0.7s; /* Add a transition with a 0.3s duration */
}
.play-btn:active {
    background-color: #f6d32d; /* Change the background color when pressed */
    transition: background-color 0s; /* Override the transition for the pressed state */
}