extends layout

block content
  h1= title
  p Welcome to #{title}
  form.form
    label(for='start_station') Van:
    select(name='begin_station', class='stations from fromstation', id='start_station')
      option(value='', disabled, selected)--STATION--
      each station in stations
        option(value=station.station_name)= station.station_name

    input(type='time', name='time_of_departure', class='time from fromtime', id='time_of_departure')

    br

    label(for='end_station') Naar:
    select(name='end_station', class='stations to tostation', id='end_station')
      option(value='', disabled, selected)--STATION--
      each station in stations
        option(value=station.station_name)= station.station_name

    input(type='time', name='time_of_arrival', class='time to totime', id='time_of_arrival')

    br

    label(for='transfertime', class='transfertime') Overstaptijd:
    input(type='number', name='transfertime', class='number minutes transfertime', id='transfertime')

  .output
